<form [formGroup]="form">
  <mat-card class="example-card">
    <mat-card-title></mat-card-title>
    <mat-card-subtitle>{{ result }}</mat-card-subtitle>
    <img mat-card-image [src]="imageLocation" alt="Wie ben ik">
    <mat-card-content>
        <mat-radio-group class="radio-group" formControlName="name">
          <mat-radio-button class="radio-button" *ngFor="let name of names" [value]="name">
            {{ makePretty(name) }}
          </mat-radio-button>
        </mat-radio-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="processItem()">volgende</button>
    </mat-card-actions>
  </mat-card>
</form>
