<form [formGroup]="form">
  <!--<div class="card-form">-->
  <mat-card class="card">
    <mat-card-title></mat-card-title>
    <mat-card-subtitle>{{ result ? (isGuessed() ? 'GOED!' : 'Probeer opnieuw' ) : '' }}</mat-card-subtitle>
    <img mat-card-image [src]="imageLocation" alt="Wie ben ik">
    <mat-card-content>
        <mat-radio-group class="radio-group" formControlName="name">
          <mat-radio-button class="radio-button" *ngFor="let name of names" [value]="name">
            {{ makePretty(name) }}
          </mat-radio-button>
        </mat-radio-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="processItem()">{{ isGuessed() ? 'Volgende' : 'Controleren'}}</button>
    </mat-card-actions>
  </mat-card>
  <!--</div>-->
</form>
