.mat-card-image {
}

.card {
  width: 40%;
  min-width: 170px;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.card-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mat-button {
  background-color: #FFDD00;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
.mat-card-subtitle {
  font-family: "Campton W00 Light", sans-serif;
}

